<!doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="prout">
            <table>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.name }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ message.insertedAt|date("d/m/Y H:i:s") }}</td>
                    </tr>
                {% else %}
                    yenapas
                {% endfor %}
            </table>
        </div>
        {{ render(controller('AppBundle:Default:add')) }}
    </body>
</html>